### ignore_vsc template
/.idea
tmp/

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
base/env/.env

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal